.sentence {
  &:hover {
    background: #2e2e2e;
    cursor: pointer;
  }
  &.changed {
    color: #ffeb39;
  }
  .new {
    color: #3d8026;;
  }
  .deleted {
    color: #ff2c2f;
  }
}

.well {
  background: #000;
  border: 1px solid #333;
  color: white;
  text-align: justify;
}